.wrapper
  - @posts.each do |post|
    .wrapper__box
      タグ:
      - post.tags.each do |tag|
        = tag.tag
      名前:
      = post.user.name
      %p= post.title
      %p= post.text
      = link_to('コメントを見る', post_path(post), class: "")
