.wrapper
  - if @erros.present?
    .alert
      %ul
        %li= @erros
  .wrapper__header
    .wrapper__header--search
      = form_tag search_posts_path, method: "get" do
        = text_field_tag :keyword, '', class: 'input-box', placeholder: 'タイトル、テキスト、コメントから検索できます'
        = submit_tag '検索する', class: 'link-btn'
    - if user_signed_in?
      .wrapper__header--current-user
        = "ユーザー名:#{current_user.name}"
    .wrapper__header--user
      = render partial: "shared/user"

  .main
    - @posts.each do |post|
      .main__inner
        .main__box
          - if post.tags.present?
            .main__inner--tag
              タグ(#{post.tags.length}):
              - post.tags.each do |tag|
                = tag.tag
          .main__inner--name
            名前:
            = post.user.name
        .main__title
          %p タイトル:  #{post.title}
        .main__text
          %p= post.text
      = link_to("コメントを見る(#{post.comments.length})", post_path(post), class: 'link') if user_signed_in?
