= link_to '一覧画面に戻る', root_path, class: 'link'
.new-post
  新規投稿
  = form_for @post do |f|
    .new-post__tag
      タグ(空白を入れることで複数入力ができます):
      %br
      = f.fields_for :tags, @post.tags.build do |t|
        = t.text_field :tag, class: 'input-box-post', placeholder: '例: 海 山 川'
    .new-post__title
      = f.label :title, 'タイトル'
      %br
      = f.text_field :title, class: 'input-box-post', placeholder: '今日の出来事'
    .new-post__text
      = f.label :title, '本文'
      %br
      = f.text_field :text, class: 'input-box-text'
      %br
      = f.submit 'コメント投稿', class: 'link-btn'

