= link_to 'Topページに戻る', root_path, class: 'link-btn'

.wrapper
  .main

    .main__inner
      .main__box
        - if @post.tags.present?
          .main__inner--tag
            タグ(#{@post.tags.length}):
            - @post.tags.each do |tag|
              = tag.tag
        .main__inner--name
          名前:
          = @post.user.name
      .main__title
        %p タイトル:  #{@post.title}
      .main__text
        %p= @post.text
    = form_for [@post, @comment] do |f|
      = f.text_field :text, class: 'input-box'
      = f.hidden_field :post_id, value: @post.id
      = f.hidden_field :user_id, value: current_user.id
      = f.submit 'コメント投稿', class: 'link-btn'
    .commnet
      %p コメント一覧
      - @comments.each do |comment|
        .commnet__name
          %p= comment.user.name
        .commnet__text
          %p= comment.text
