!!!
%html
  %head
    %link{href:"https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap", rel: "stylesheet"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TutorialTest
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if notice
      %p.notice= notice
    - if alert
      %p.alert= alert
    -# = render partial: "shared/user"
    = yield
