!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TutorialTest
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %p.notice= notice
    %p.alert= alert
    - if user_signed_in?
      = link_to '投稿する', new_user_post_path(current_user)
      = link_to 'ログアウト', destroy_user_session_path
    - else
      = link_to '新規登録', new_user_registration_path
      = link_to 'ログイン', new_user_session_path
    = yield
